# This group is read both both by the client and the server
# use it for options that affect everything
[client-server]

# mysqldump client default options
[mysqldump]
# Do not cache each query result
quick
# The maximum size of one packet or any generated/intermediate string
max-allowed-packet=32M

# mysqlimport client options
[mysqlimport]
# Load files in parallel. Number of threads to use for loading data.
use-threads=2
# Read all files through the client
local
# Print info about the various stages
verbose

# This group is read by the server
[mysqld]

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# include all files from the config directory
!includedir /etc/my.cnf.d
